{% load staticfiles %}

<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}">
   </head>
   <body>
	   <h3>{{ name }} pipelines are working</h3>  
        <h2>Hello {{ name }}</h2>
        <img src="{% static '/img/app.png' %}">
   </body>
</html>
